body {
  font-size: 1.1rem;
}

@font-face {
  font-family: 'AksaraLampung';
  src: url('../fonts/aksara-Lampung-Unila-v2.ttf') format('truetype');
}

.aksaraLampung {
  font-family: 'AksaraLampung';
  font-size: 2em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#petunjukAksara {
  text-align: center;
}

.btn {
  margin: 0.1rem;
  font-size: 0.7rem;
}

#hasilTerjemah ul {
  list-style: none unset none;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  #judulAplikasi {
    display: none;
  }
}