@font-face {
  font-family: 'AksaraLampung';
  src: url('../fonts/aksara-Lampung-Unila-v2.ttf')  format('truetype');
}

.aksaraLampung {
  font-family: 'AksaraLampung';
    font-size: 2em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #judulAplikasi {
      display: none;
  }
}
